<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://css.izboxo.cz/style.css" rel="stylesheet">
    <title>NAME</title>
</head>
<body>
    <script>

    </script>
<meta http-equiv="refresh" content="0;url=YOUR ADRESS HERE">
    <center>
        <h1>Temperature</h1>
    <strong><h1><%= a %>°C<h1></strong>
        <br><hr>
        <h1>Uptime</h1>
        <strong><h1><%- tmp %></h1></strong>
        <br><hr>
        <h1>RAM + CPU</h1>
        <h1>RAM= <%= mnt %></h1>
        <h1>CPU= <%= mny %></h1>
        </center>
        <br><br><p>Made by: iZboxo</p>
</body>
</html>
